.SkillsContent{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10vh;
    margin-top: 5vh;
    margin-right: 10vh;
    font-size: 20px;
    align-items: center;
    text-align: center;
}
